@font-face {
  font-family: 'Harry';
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: url('~@/assets/fonts/HarryPotterRegular.woff') format('woff'),
  url('~@/assets/fonts/HarryPotterRegular.ttf') format('ttf'),
  url('~@/assets/fonts/HarryPotterRegular.eot') format('eot');
}
