@font-face {
  font-family: 'Harry';
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: url('~@/assets/fonts/HarryPotterRegular.woff') format('woff'),
  url('~@/assets/fonts/HarryPotterRegular.ttf') format('ttf'),
  url('~@/assets/fonts/HarryPotterRegular.eot') format('eot');
}
@font-face {
  font-family: 'Brin';
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: url('~@/assets/fonts/brin/brin-athyn.otf') format('otf'),
  url('~@/assets/fonts/brin/brin-athyn.eot') format('eot'),
  url('~@/assets/fonts/brin/brin-athyn.woff') format('woff'),
  url('~@/assets/fonts/brin/brin-athyn.woff2') format('woff2'),
  url('~@/assets/fonts/brin/brin-athyn.ttf') format('ttf');
}
@font-face {
  font-family: 'Cloister';
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: url('~@/assets/fonts/Cloister/cloister-black-bt.otf') format('otf'),
  url('~@/assets/fonts/Cloister/cloister-black-bt.eot') format('eot'),
  url('~@/assets/fonts/Cloister/cloister-black-bt.woff') format('woff'),
  url('~@/assets/fonts/Cloister/cloister-black-bt.woff2') format('woff2'),
  url('~@/assets/fonts/Cloister/cloister-black-bt.ttf') format('ttf');
}
@font-face {
  font-family: 'Moyenage';
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: url('~@/assets/fonts/Moyenage/Moyenage13.eot') format('eot'),
  url('~@/assets/fonts/Moyenage/Moyenage13.woff') format('woff'),
  url('~@/assets/fonts/Moyenage/Moyenage13.woff2') format('woff2'),
  url('~@/assets/fonts/Moyenage/Moyenage13.ttf') format('ttf');
}

