@font-face {
    font-family: 'Moyenage12';
    src: url('Moyenage12.eot');
    src: local('☞Moyenage12'), local('Moyenage12'),
        url('Moyenage12.eot?#iefix') format('embedded-opentype'),
        url('Moyenage12.woff2') format('woff2'),
        url('Moyenage12.woff') format('woff'),
        url('Moyenage12.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moyenage51';
    src: url('Moyenage51.eot');
    src: local('☞Moyenage51'), local('Moyenage51'),
        url('Moyenage51.eot?#iefix') format('embedded-opentype'),
        url('Moyenage51.woff2') format('woff2'),
        url('Moyenage51.woff') format('woff'),
        url('Moyenage51.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moyenage45';
    src: url('Moyenage45.eot');
    src: local('☞Moyenage45'), local('Moyenage45'),
        url('Moyenage45.eot?#iefix') format('embedded-opentype'),
        url('Moyenage45.woff2') format('woff2'),
        url('Moyenage45.woff') format('woff'),
        url('Moyenage45.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moyenage15';
    src: url('Moyenage15.eot');
    src: local('☞Moyenage15'), local('Moyenage15'),
        url('Moyenage15.eot?#iefix') format('embedded-opentype'),
        url('Moyenage15.woff2') format('woff2'),
        url('Moyenage15.woff') format('woff'),
        url('Moyenage15.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moyenage21';
    src: url('Moyenage21.eot');
    src: local('☞Moyenage21'), local('Moyenage21'),
        url('Moyenage21.eot?#iefix') format('embedded-opentype'),
        url('Moyenage21.woff2') format('woff2'),
        url('Moyenage21.woff') format('woff'),
        url('Moyenage21.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moyenage43';
    src: url('Moyenage43.eot');
    src: local('☞Moyenage43'), local('Moyenage43'),
        url('Moyenage43.eot?#iefix') format('embedded-opentype'),
        url('Moyenage43.woff2') format('woff2'),
        url('Moyenage43.woff') format('woff'),
        url('Moyenage43.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moyenage53';
    src: url('Moyenage53.eot');
    src: local('☞Moyenage53'), local('Moyenage53'),
        url('Moyenage53.eot?#iefix') format('embedded-opentype'),
        url('Moyenage53.woff2') format('woff2'),
        url('Moyenage53.woff') format('woff'),
        url('Moyenage53.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moyenage11';
    src: url('Moyenage11.eot');
    src: local('☞Moyenage11'), local('Moyenage11'),
        url('Moyenage11.eot?#iefix') format('embedded-opentype'),
        url('Moyenage11.woff2') format('woff2'),
        url('Moyenage11.woff') format('woff'),
        url('Moyenage11.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moyenage44';
    src: url('Moyenage44.eot');
    src: local('☞Moyenage44'), local('Moyenage44'),
        url('Moyenage44.eot?#iefix') format('embedded-opentype'),
        url('Moyenage44.woff2') format('woff2'),
        url('Moyenage44.woff') format('woff'),
        url('Moyenage44.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moyenage42';
    src: url('Moyenage42.eot');
    src: local('☞Moyenage42'), local('Moyenage42'),
        url('Moyenage42.eot?#iefix') format('embedded-opentype'),
        url('Moyenage42.woff2') format('woff2'),
        url('Moyenage42.woff') format('woff'),
        url('Moyenage42.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moyenage41';
    src: url('Moyenage41.eot');
    src: local('☞Moyenage41'), local('Moyenage41'),
        url('Moyenage41.eot?#iefix') format('embedded-opentype'),
        url('Moyenage41.woff2') format('woff2'),
        url('Moyenage41.woff') format('woff'),
        url('Moyenage41.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moyenage25';
    src: url('Moyenage25.eot');
    src: local('☞Moyenage25'), local('Moyenage25'),
        url('Moyenage25.eot?#iefix') format('embedded-opentype'),
        url('Moyenage25.woff2') format('woff2'),
        url('Moyenage25.woff') format('woff'),
        url('Moyenage25.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moyenage33';
    src: url('Moyenage33.eot');
    src: local('☞Moyenage33'), local('Moyenage33'),
        url('Moyenage33.eot?#iefix') format('embedded-opentype'),
        url('Moyenage33.woff2') format('woff2'),
        url('Moyenage33.woff') format('woff'),
        url('Moyenage33.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moyenage52';
    src: url('Moyenage52.eot');
    src: local('☞Moyenage52'), local('Moyenage52'),
        url('Moyenage52.eot?#iefix') format('embedded-opentype'),
        url('Moyenage52.woff2') format('woff2'),
        url('Moyenage52.woff') format('woff'),
        url('Moyenage52.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moyenage31';
    src: url('Moyenage31.eot');
    src: local('☞Moyenage31'), local('Moyenage31'),
        url('Moyenage31.eot?#iefix') format('embedded-opentype'),
        url('Moyenage31.woff2') format('woff2'),
        url('Moyenage31.woff') format('woff'),
        url('Moyenage31.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moyenage24';
    src: url('Moyenage24.eot');
    src: local('☞Moyenage24'), local('Moyenage24'),
        url('Moyenage24.eot?#iefix') format('embedded-opentype'),
        url('Moyenage24.woff2') format('woff2'),
        url('Moyenage24.woff') format('woff'),
        url('Moyenage24.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moyenage54';
    src: url('Moyenage54.eot');
    src: local('☞Moyenage54'), local('Moyenage54'),
        url('Moyenage54.eot?#iefix') format('embedded-opentype'),
        url('Moyenage54.woff2') format('woff2'),
        url('Moyenage54.woff') format('woff'),
        url('Moyenage54.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moyenage34';
    src: url('Moyenage34.eot');
    src: local('☞Moyenage34'), local('Moyenage34'),
        url('Moyenage34.eot?#iefix') format('embedded-opentype'),
        url('Moyenage34.woff2') format('woff2'),
        url('Moyenage34.woff') format('woff'),
        url('Moyenage34.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moyenage13';
    src: url('Moyenage13.eot');
    src: local('☞Moyenage13'), local('Moyenage13'),
        url('Moyenage13.eot?#iefix') format('embedded-opentype'),
        url('Moyenage13.woff2') format('woff2'),
        url('Moyenage13.woff') format('woff'),
        url('Moyenage13.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moyenage14';
    src: url('Moyenage14.eot');
    src: local('☞Moyenage14'), local('Moyenage14'),
        url('Moyenage14.eot?#iefix') format('embedded-opentype'),
        url('Moyenage14.woff2') format('woff2'),
        url('Moyenage14.woff') format('woff'),
        url('Moyenage14.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moyenage32';
    src: url('Moyenage32.eot');
    src: local('☞Moyenage32'), local('Moyenage32'),
        url('Moyenage32.eot?#iefix') format('embedded-opentype'),
        url('Moyenage32.woff2') format('woff2'),
        url('Moyenage32.woff') format('woff'),
        url('Moyenage32.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moyenage22';
    src: url('Moyenage22.eot');
    src: local('☞Moyenage22'), local('Moyenage22'),
        url('Moyenage22.eot?#iefix') format('embedded-opentype'),
        url('Moyenage22.woff2') format('woff2'),
        url('Moyenage22.woff') format('woff'),
        url('Moyenage22.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moyenage23';
    src: url('Moyenage23.eot');
    src: local('☞Moyenage23'), local('Moyenage23'),
        url('Moyenage23.eot?#iefix') format('embedded-opentype'),
        url('Moyenage23.woff2') format('woff2'),
        url('Moyenage23.woff') format('woff'),
        url('Moyenage23.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moyenage35';
    src: url('Moyenage35.eot');
    src: local('☞Moyenage35'), local('Moyenage35'),
        url('Moyenage35.eot?#iefix') format('embedded-opentype'),
        url('Moyenage35.woff2') format('woff2'),
        url('Moyenage35.woff') format('woff'),
        url('Moyenage35.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moyenage55';
    src: url('Moyenage55.eot');
    src: local('☞Moyenage55'), local('Moyenage55'),
        url('Moyenage55.eot?#iefix') format('embedded-opentype'),
        url('Moyenage55.woff2') format('woff2'),
        url('Moyenage55.woff') format('woff'),
        url('Moyenage55.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

